.Header{
    display:flex;
    flex-direction:row;
    background-color:black;
    color:rgb(100, 98, 98);
    padding:30px;
    background-color: lightblue;
}
.input,input {
    width: 80%;
    padding-left: 200px;
    font-size: 30px;
    border-radius: 10px;
    margin: 10px;

}
.Hero{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
    background-color: cadetblue;
    cursor: pointer;

    
}
